#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS



configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


#Architecture 
build: build-indep

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp 

	# Add here commands to compile the indep part of the package.
	#$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-indep-stamp configure-stamp

	dh_clean 

install: install-indep
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i
	
	# Add here commands to install the indep part of the package into
		
	install -m 755 $(CURDIR)/tkLOR	$(CURDIR)/debian/tklor/usr/bin/tkLOR
	ls -l $(CURDIR)/lib/lorBackend.tcl
	mkdir - $(CURDIR)/debian/tklor/usr/lib/tkLOR
	install -m 755 $(CURDIR)/lib/lorBackend.tcl	$(CURDIR)/debian/tklor/usr/lib/tkLOR/lorBackend.tcl

	dh_install -i

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installmenu
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary: binary-indep
.PHONY: build clean binary-indep binary install install-indep configure
